.p-works-list {
    margin: 0 -10px;
    padding: 0;
}

.p-works-list li {
    position: relative;
    float: left;
    width: 220px;
    margin: 10px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    list-style: none;
}

.p-works-list li .thumb {
    position: relative;
    display: block;
    height: 123px;
}

.p-works-list li img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.p-works-list li strong {
    display: block;
    margin: 0 8px;
    line-height: 30px;
}

.p-works-list li p {
    overflow: hidden;
    margin: 0 8px;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #666;
    word-wrap: normal;
    white-space: nowrap;
}

.p-works-list li .update {
    position: absolute;
    top: 8px;
    right: 8px;
    display: none;
}

.p-works-list li:hover .update {
    display: block;
}

.p-works .handle {
    text-align: center;
}