.select {
    position: relative;
}

.select strong{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #d9d9d9;
    border-top-color: #c0c0c0;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    background: #fff;
    outline: none;
}

.select .options {
    position: absolute;
    top: 34px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}

.select ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.select ul li{
    display: block;
    height: 30px;
    margin: 0;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
}

.select ul li:hover {
    background-color: #efefef;
}