.create-modal {
    position: relative;
    margin: 100px auto;
    width: 700px;
    padding: 24px 24px 24px 0;
    border-radius: 3px;
    background-color: #fff;
}

.create-modal .formitem {
    float: left;
    width: 50%;
}

.create-modal .textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 6px 12px;
    border: 1px solid #d9d9d9;
    border-top-color: #c0c0c0;
    font-size: 14px;
    color: #777;
    outline: none;
    resize: none;
}

.create-modal .formitem .lab {
    width: 64px;
}

.create-modal .formitem .mix > .btn {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.create-modal .close {
    z-index: 9;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: url("./close.png") no-repeat center;
    background-size: 34px 34px;
    cursor: pointer;
}