.top-layout {
    height: 50px;
    background-color: #39c;
}

.top-layout .logo {
    float: left;
    height: 50px;
    line-height: 50px;
}

.top-layout .logo img {
    height: 40px;
    margin-top: 5px;
}

.top-layout .search {
    float: left;
    width: 250px;
    height: 22px;
    margin: 14px;
}

.top-layout .search input {
    float: left;
    width: 200px;
    height: 22px;
    padding: 3px;
    line-height: 16px;
    border: none;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.top-layout .search .btn {
    float: left;
    padding: 3px 8px;
    border: none;
    border-radius: 0 3px 3px 0;
}

.top-layout .nav {
    float: right;
    font-size: 12px;
}

.top-layout .nav > a {
    float: left;
    padding: 13px 10px;
    line-height: 40px;
    cursor: pointer;
}

.top-layout .nav > a span {
    display: block;
    height: 24px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    line-height: 20px;
}

.top-layout .nav > a.active span {
    border-bottom: 2px solid #5bc0de;
}

.top-layout .nav > a {
    color: #fff;
}