
.explain-info{
    padding: 20px;
}

.explain-info-list {
    padding: 0 20px;
}

.explain-info p {
    margin: 0;
    line-height: 26px;
    color: #666;
}

.explain-info pre {
    margin: 0;
    padding: 8px;
    color: #999;
    border: 1px dashed #d9d9d9;
}
