.my-pro-list {
    margin: 20px -10px 0 -10px;
    padding: 0;
    list-style: none;
}

.my-pro-list li {
    display: flex;
    position: relative;
    float: left;
    width: 20%;
    height: 40px;
    padding: 0 10px;
    list-style: none;
}

.my-pro-list li .icon,
.my-pro-list li .editor,
.my-pro-list li .set {
    display: block;
    width: 20px;
    height: 40px;
    line-height: 40px;
}

.my-pro-list li .icon {
    background: url("./brick.png") no-repeat center;
    background-size: 14px 14px;
}

.my-pro-list li .editor {
    display: none;
    background: url("./editor.png") no-repeat center;
    background-size: 14px 14px;
}

.my-pro-list li .set {
    display: none;
    background: url("./set.png") no-repeat center;
    background-size: 14px 14px;
    cursor: pointer;
}

.my-pro-list li .name {
    flex: 1;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.my-pro-list li:hover .editor,
.my-pro-list li:hover .set {
    display: block;
}

.my-pro-create-btn {
    line-height: 60px;
    text-align: center;
}